---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import FrankSailingImage from "../../assets/frank-sailing.jpg";

const pageTitle = "Over Re:Dingen";

const identity = {
  name: "Frank Harland",
  country: "Nederland",
  occupation: "DG Specialist",
  hobbies: ["build websites", "sailing", "music"],
};
---

<BaseLayout pageTitle={pageTitle}>
  <Image
    src={FrankSailingImage}
    alt="Frank Harland zeilend"
    class="float-right w-1/2 mt-4"
  />
  <h4>
    Re:Dingen is het weblog van Frank Harland. Hier staan gedachten, commentaren
    over dingen. Soms zomaar letters achterelkaar. Laat me maar weten wanneer
    het je leven totaal veranderd heeft.
  </h4>

  <p>Bio: <br />Naam: {identity.name}</p>

  <p>
    Geslacht: Man <br />
    Beroep: {identity.occupation}
    <br />
    Interesses: Zeilen, Data, Computer dingen, websites bouwen, Internet
  </p>
  <p>
    Gedurende (het grootste deel van) de dag werk ik als data governance
    specialist met een qualitic. 'Dingen' reflecteert op de dingen die ik
    tegenkom op de gebieden van mijn interesses.
  </p>
</BaseLayout>

<style>
  h1 {
    color: purple;
    font-size: 4rem;
  }
</style>
<script>
  import "../../scripts/menu.js";
</script>
