---
import Navigation from "../../components/Navigation.astro";
import Footer from "../../components/Footer.astro";

import "../../styles/global.css";

const pageTitle = "Re:Dingen Blog";
---

<html lang="nl-nl">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta
      name="description"
      content="Een blog over dingen die mij bezighouden, meningen, kwaadsprekerij en observaties."
    />
    <meta name="author" content="Re:Sites" />
  </head>
  <body>
    <Navigation />

    <style>
      h1 {
        color: purple;
        font-size: 4rem;
      }
    </style>
    <h1>{pageTitle}</h1>
    <p>
      Een blog over dingen die mij bezighouden, meningen, kwaadsprekerij en
      observaties.
    </p>

    <ul>
      <li>
        <a href="de-zaak-tegen-crypto">De Zaak Tegen Crypto</a>
      </li>
    </ul>
    <Footer />
  </body>
</html>
