---
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import ZwaluwImg from "../assets/2021-zwaluw-wide.webp";

const pageTitle = "Re:Dingen";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="entree">
    <Image
      src={ZwaluwImg}
      alt="Zwaluw Loosdrechtse Plassen"
      class="entree-image"
    />
    <div class="entree-text">
      <h4 class="m-0 text-indigo-900 font-bold text-right leading-10">
        Over<br /> dingen die<br />ons bezighouden
      </h4>
    </div>
  </div>
  <h4>
    Re:Dingen is het weblog van Frank Harland. Hier staan gedachten over-,
    commentaren op dingen. Laat me maar weten wanneer het je leven totaal
    veranderd heeft.
  </h4>
</BaseLayout>

<style>
  .entree {
    position: relative;
    margin-block-start: 1rem;
  }

  .entree-text {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .entree-image {
    width: 100%;
    height: auto;
  }
</style>
