---
import Navigation from "./Navigation.astro";
import Hamburger from "./Hamburger.astro";
---

<header class="sticky top-0 w-full z-50">
  <nav class="bg-violet-200/80 grid grid-cols-2 justify-end">
    <div class="logo">
      <a href="/"><img src="/images/logo-dingen.png" alt="Re:Dingen logo" /></a>
    </div>
    <Hamburger />
    <Navigation />
  </nav>
</header>
<style>
  .logo {
    margin: 0.2em 0;
    max-width: 200px;
    height: auto;
  }
</style>
